body {
    margin: 0;
    background-color: #ccc;
}

img {
    display: block;
    margin: 0 auto;
    padding: 20px;
}
#board {
    background-color: #F57921;
    min-height: 600px;
    width: 400px;
    margin: 0 auto;
    padding-bottom: 20px;
}


/* Make Everything in this section center */

#board section {
    max-width: 290px;
    margin-left: auto;
    margin-right: auto;
}

#board #dice-board {
    background-color: #398BD4;
    border: 5px solid #FFCA08;
    margin: 0 auto;
    width: 300px;
    height: 290px;
}

#board #dice-board .dice {
    text-align: center;
}

#board #dice-board .dice button {
    width: 45px;
    height: 48px;
    margin: 3px;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: -2px 2px 2px #000;
    outline: none;
    border: none;
    font-weight: 800;
}

#board #dice-board .dice:first-child {
    margin-top: 5px;
}

#board #info {
    margin-top: 20px;
}

#board #info * {
    display: inline;
}

#board #info button {
    float: right;
    font-size: 10px;
}

#board #score-table {
    width: 50%;
    outline: 3px solid #FFCA08;
    margin-left: 35px;
    margin-top: 20px;
    border-spacing: 0;
}

#board #score-table tr th {
    text-align: left;
}

#board #score-table tr th,
#board #score-table tr td {
    padding: 2px;
    margin: 0;
    border-bottom: 3px solid #FFCA08;
    background-color: #fff;
}


#board #score-table tr th:last-child,
#board #score-table tr td:last-child {
    width: 35%;
    border-left: 3px solid #FFCA08;
}

.blue {
    background-color: #ACCEEC !important;
}